.loginContainer {
  display: flex;
}

.loginContainer .left {
  width: 40vw;
  height: 100vh;
  background-color: #ffd965;
}
.loginContainer .right {
  width: 60vw;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  display: block;
  margin: 5px;
  padding: 10px;
  width: 50%;
}

.dash-container {
  width: 90%;
  height: 90vh;
  padding: 5%;
  display: flex;
}
.dash-left {
  width: 55%;
  margin-right: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.dash-right {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.chart-container,
.menu-container,
.frozen-container,
.shopping-container,
.cold-container {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.dash-refrg {
  flex: 2;
  display: flex;
}

.cold-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

.frozen-container {
  flex: 1;
}
.shopping-container {
  flex: 1;
  margin-bottom: 0px;
}

.menu-container {
  flex: 1;
}
.chart-container {
  flex: 1;
  margin-bottom: 0px;
}

.cold-container span {
  text-align: center;
  margin: 4px 90px 14px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: rgb(79, 3, 151);
}
.ingrediant-container-wrap {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.ingrediant-container {
  display: inline-flex;
  justify-content: space-between;
  padding: 5px;
}

.ing-cartegory {
  flex: 2;
}

.ing-name {
  flex: 4;
}

.ing-msg {
  flex: 3;
  color: #fff;
  padding: 5px;
}
